/.myenv
abc.py
chatapp.py
userinput.py
experiment.py
/videopluxtext/__pycache__
/videopluxtext/__pycache__/translate.cpython-311.pyc
/videopluxtext/cache
/videopluxtext/tempCodeRunnerFile.py
tempCodeRunnerFile.py
